.open-positions {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    text-transform: capitalize;
}

.info {
    line-height: 15px;
    font-size: 0.9em;
}

.details>h6 {
    text-transform: capitalize;
    letter-spacing: 1px;
    font-size: 1.1em;
}

.details>p {
    margin: 0;
}

.info>.icon {
    position: relative;
    width: 20%;

}

.info>* .fa-solid {
    color: #4f52d3;
    font-size: 25px;
    position: absolute;
    top: calc(50% - 10px);
}

.info>.details {
    width: 80%;
}

.contact-us {
    gap: 25px;
}

.contact-us>.subscribe-ctr {
    padding: 0;
    font-size: 0.9rem;
    width: calc(100% /3 - 18px);
}

.contact-us>.subscribe-ctr>.border-bottom {
    border-color: #555555;

}

.email-input {
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;


}

.email-icon {
    border: 1px solid #555555;
    border-right: none;
    padding: 10px;
    color: white;
    min-width: 50px;
    text-align: center;
}

.input-field {

    background: transparent;
    color: #fff;
    width: 100%;
    outline: none;
    border: 1px solid #555555;
    border-left: none;
    padding: 10px;
    outline: none;
    transition: all 0.5 ease-out;

}

.subs-btn {
    background-color: #4f52d3;
    text-transform: uppercase;

}

@media screen and (max-width: 940px) {
    .open-positions {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .contact-us>.subscribe-ctr {
        width: 100%
    }
}

@media screen and (max-width: 600px) {
    .open-positions {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}